<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views.css" />
    <title>HELP-ME - Liste des tickets</title>
  </head>
  <body>
    <%- include('fragments/header') %>

    <main>
      <h2>Liste des tickets</h2>

      <section class="tickets-container">
        <% if (tickets.length === 0) { %>
        <p>Aucun ticket disponible.</p>
        <% } else { %> <% tickets.forEach(ticket => { %>
          <div class="ticket">
            <div class="ticket-title">
              <a href="/tickets/<%= ticket._id %>"><%= ticket.titre %></a>
            </div>

            <div class="ticket-description">
              <p><%- ticket.description %></p>
            </div>
            <div class="ticket-etat">
              <% if (ticket.etat?.toUpperCase() == 'OUVERT') { %>
                <span class="ticket-etat ouvert">Ouvert</span>
              <% } else { %>
                <span class="ticket-etat clos">Clos</span>
              <% } %>
            </div>
            <div class="ticket-meta">
              <div class="ticket-info">
                <span class="ticket-auteur"><%= ticket.auteur.name %></span><br />
                <span class="ticket-date"><%= ticket.creation_formatted %></span>
              </div>
            </div>
          </div>
        <% }) %> <% } %>
      </section>
    </main>

    <%- include('fragments/footer') %>
  </body>
</html>
